# API Keys and sensitive configuration
app/aqua/aqua/APIConfig.swift
aqua/TwilioConfig.swift
TwilioConfig.swift


# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xccheckout
*.xcscmblueprint

# iOS build artifacts
DerivedData/
build/
*.ipa
